<%= form_with(model: Order.new, url: item_orders_path(params[:item_id]), local: true) do |form| %>


  <div class="field">
      <% if Item.find(params[:item_id]).image.attached? %>
        <%= image_tag Item.find(params[:item_id]).image, width: 50 %>
      <% end %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :quantity, value: Item.find(params[:item_id]).price, disabled: true %>
  </div >

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, value: 1 %>
  </div >

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
