<p id="notice"><%= notice %></p>

<h1>Orders</h1>
<% current_user.orders.each do |order| %>
  <div>
    <p>
      <strong>Item name:</strong>
      <%= order.items.first.name if order.items.first %>
    </p>
    
    <p>
      <strong>Item description:</strong>
      <%= order.items.first.description if order.items.first  %>
    </p>
    
    <p>
      <strong>Item condition:</strong>
      <%= order.items.first.condition if order.items.first  %>
    </p>
    
    <p>
      <strong>Price: AUD$</strong>
      <%= order.items.first.price if order.items.first  %>
    </p>
    
    <p>
      <strong>Quantity: </strong>
      <%= order.quantity if order.items.first  %>
    </p>
    
    <p>
      <strong>Total: </strong>
      <%= order.quantity * order.items.first.price if order.items.first  %>
    </p>
    
    <p class="item-image">
      <% if order.items.first && order.items.first.image.attached? %>
      
        <%= image_tag order.items.first.image, width: 250 %>
    <% else %>
      <p>No image attached</p>
      <% end %>
    </p>
  </div>
<% end %>

<br>

<%= link_to 'New Order', new_item_order_path(params[:item_id]) %>
