<p id="notice"><%= notice %></p>

<div>
  <h2 style="font-size: 2em;">Your Order</h2>
</div>
<p>
  <strong>Order:</strong>
  <%= @order.id %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user.id %>
</p>


<%= link_to 'Edit', edit_item_order_path(params[:item_id], params[:id]) %> |
<%= link_to 'Back', item_orders_path(params[:item_id]) %>
