<!DOCTYPE html>
<html>
  <head>
    <title>Darthub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Darthub</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if flash[:error] %>
      <p class='error' ><%= flash[:error] %></p>
    <% end %>
    <%= image_tag "dartboard.png", class: 'logo' %>
    <% if user_signed_in? %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: 'delete', class: 'btn' %>
      <%= link_to 'Back to Menu', page_path('menupage'), class: 'btn' %>
    <% else %>
      <%= link_to 'Sign In', new_user_session_path, class: 'btn' %>
      <%= link_to 'Sign Up', new_user_registration_path, class: 'btn' %>
    <% end %>
    <%= yield %>
  </body>
</html>
