<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <!-- <th>Item</th> -->
      <th>Item name</th>
      <th>Item description</th>
      <th>Item condtition</th>
      <th>Price</th>
      <th>Image</th>
      <th>Quantity</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
    <tr>
      <!-- <td><%= item.id %></td> -->
      <td><%= item.name %></td>
      <td><%= item.description %></td>
      <td><%= item.condition %></td>
      <td> <strong>AUD$<%= item.price %></strong></td>
      <td><p class="item-image">
        <% if item.image.attached? %>
        <%= image_tag item.image, width: 50 %>
        <% end %>
      </p></td>
      <td><%= item.quantity %> </td>
      <!-- <td><%= item.user_id %></td> -->
      <td><%= link_to 'Show', item %></td>
      <% if current_user == item.user || current_user.has_role?(:admin) %>
      <td><%= link_to 'Edit', edit_item_path(item) %></td>
      <td>
      <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>

      <% end %>
      
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
