<p id="notice"><%= notice %></p>

<!-- <p>
  <strong>Item:</strong>
  <%= @item.id %>
</p> -->

<p>
  <strong>Item name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Item description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Item condition:</strong>
  <%= @item.condition %>
</p>

<p>
  <strong>Price: AUD$</strong>
  <%= @item.price %>
</p>

<p class="item-image">
  <% if @item.image.attached? %>
  
    <%= image_tag @item.image, width: 250 %>
<% else %>
  <p>No image attached</p>
  <% end %>
</p>
<p>
    <strong>Quantity</strong>
  <%= @item.quantity %>
</p>
<!-- <p>
  <strong>User:</strong>
  <%= @item.user_id %>
</p> -->

<% if current_user.items.include?(@item) %>
  <%= link_to 'Edit', edit_item_path(@item) %> |
<% end %>
<%= link_to 'Back', items_path %>
